spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/book_social_network
    username: username
    Password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        formate_sql: true
      database: postgresql
      database-platform: org.hibernate.dialect.PostgreSLDialect
      mail:
        host: localhost
        port: 1025
        username: adel
        password: adel
        properties:
          mail:
            smtp:
              trust: "*"
            auth: true
            starttls:
              enable: true
            connectiontimeout: 5000
            timeout: 3000
            writetimeout: 5000
  application:
    security:
      jwt:
        secret-key: 125FE4BAFB9E6A35F662A5D262754
        expiration: 8640000
